# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=scope-manager
PORT=5901

# Internal service URLs
AUTHENTICATOR_SERVICE_URL=http://localhost:5900

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify-next

# JWT configuration
CLIENT_ID=scope-manager
CLIENT_SECRET=scope_manager_client_secret
JWT_SECRET=governify_next_secret_key
JWT_ISSUER=authenticator
JWT_AUDIENCE=governify-next

# Application-specific settings
MAX_ROLES_PER_ORGANIZATION = 100;
MAX_MEMBERS_PER_ORGANIZATION = 1000;
